@mixin vertical-gradient ($from, $to, $stop: 100%) {
	background-image: -webkit-linear-gradient(top, $from 0%, $to $stop);
	background: linear-gradient(to bottom, $from 0%, $to $stop);
}

@mixin horizontal-gradient ($from, $to, $stop: 100%) {
	background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
	background: linear-gradient(to right, $from 0%, $to $stop);
}