/// @param {Number} $number
/// @param {String} $unit
/// @return {Number}
@function unit-add($number, $unit) {
	$unit: inspect($unit);

	$strings: 'px' 'cm' 'mm' '%' 'ch' 'pica' 'in' 'em' 'rem' 'pt' 'pc' 'ex' 'vw' 'vh' 'vmin' 'vmax' '';
	$units:   1px  1cm  1mm  1%  1ch  1pica  1in  1em  1rem  1pt  1pc  1ex  1vw  1vh  1vmin  1vmax  1;
	$index: index($strings, $unit);

	@if not $index {
		@warn "Unknown unit `#{$unit}`.";
		@return false;
	}

	@return $number * nth($units, $index);
}

/// @param {Number} $number
/// @return {Number}
@function unit-remove($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}
	@return $number;
}

/// @param {Number} $x
/// @param {Number} $n
/// @return {Number}
@function pow($x, $n) {
	$result: 1;

	// remove unit
	$unit: '';
	@if type-of($x) == 'number' and not unitless($x) {
		$unit: unit($x);
		$x: unit-remove($x);
	}

	@if $n >= 0 {
		@for $i from 1 through $n {
			$result: $result * $x;
		}
	} @else {
		@for $i from $n to 0 {
			$result: $result / $x;
		}
	}

	@return unit-add($result, $unit);
}

/// @param {Number} $x
/// @return {Number}
@function sqrt($x) {
	// remove unit
	$unit: '';
	@if type-of($x) == 'number' and not unitless($x) {
		$unit: unit($x);
		$x: unit-remove($x);
	}

	$x0: 1;
	$x1: $x0;

	@for $i from 1 through 10 {
		$x1: $x0 - ($x0 * $x0 - abs($x)) / (2 * $x0);
		$x0: $x1;
	}

	@return unit-add($x1, $unit);
}