@function last-index($list, $value) {
	$index: null;

	@for $i from 1 through length($list) {
		@if nth($list, $i) == $value {
			$index: $i + 0; // "+0" binds "$index" to "$i" by value instead of reference (which is default for "libsass" at the moment), otherwise "$index" will have the value of "length($list)" at the end
		}
	}

	@return $index;
}

@mixin lookback-action($selector, $extension, $action) {
	$new-all: ();
	@for $i from 1 through length(&) {
		$selectors: nth(&, $i);
		$length: length($selectors);
		$extensionIndex: $length; // SELF
		@if $selector == 'root' { // ROOT
			$extensionIndex: 1;
		} @else if $selector == 'parent' { // PARENT
			$extensionIndex: $length - 1;
		} @else if $selector != '' { // GIVEN SELECTOR
			$extensionIndex: last-index($selectors, $selector);
		}
		$new-selectors: ();
		@for $j from 1 through $length {
			@if $j == $extensionIndex {
				@if $action == 'append' {
					$new-selectors: join($new-selectors, unquote(nth($selectors, $j)) + $extension);
				} @else if $action == 'prepend' {
					$new-selectors: join($new-selectors, $extension + unquote(nth($selectors, $j)));
				}
			} @else {
				$new-selectors: join($new-selectors, nth($selectors, $j));
			}
		}
		$new-all: append($new-all, $new-selectors, comma);
	}
	@at-root #{$new-all} {
		@content;
	}
}


@mixin lookback-prepend($selector, $prepender) {
	@include lookback-action($selector, $prepender, 'prepend') {
		@content;
	}
}

@mixin lookback-append($selector, $extension) {
	@include lookback-action($selector, $extension, 'append') {
		@content;
	}
}

@mixin root-prepend($prepender) {
	@include lookback-action('root', $prepender, 'prepend') {
		@content;
	}
}

@mixin root-append($extension) {
	@include lookback-action('root', $extension, 'append') {
		@content;
	}
}

@mixin parent-prepend($prepender) {
	@include lookback-action('parent', $prepender, 'prepend') {
		@content;
	}
}

@mixin parent-append($extension) {
	@include lookback-action('parent', $extension, 'append') {
		@content;
	}
}

@mixin self-prepend($prepender) {
	@include lookback-action('', $prepender, 'prepend') {
		@content;
	}
}

@mixin self-append($extension) {
	@include lookback-action('', $extension, 'append') {
		@content;
	}
}