<ion-content>

	<header>
		<a class="back" *ngIf="hasBackButton || passwordForgotten" (click)="dismiss()"><i class="plc-icon-arrow-left"></i></a>
		<img src="assets/img/logo.svg" />
	</header>

	<!-- login -->
	<ion-list *ngIf="!config.user && !passwordForgotten">
		<form (ngSubmit)="onLogin()" #loginForm="ngForm">

			<ion-item>
				<ion-icon name="plc" class="plc-icon-login" item-start></ion-icon>
				<ion-input type="text" [(ngModel)]="username" placeholder="{{config.i18n.login.username}}" name="username" required [disabled]="requestPending"></ion-input>
			</ion-item>
			<ion-item plc-underText>
				<ion-icon name="plc" class="plc-icon-lock" item-start></ion-icon>
				<ion-input *ngIf="!passwordVisible" type="password" [(ngModel)]="password" placeholder="{{config.i18n.login.password}}" name="password" required [disabled]="requestPending"></ion-input>
				<ion-input *ngIf="passwordVisible" type="text" [(ngModel)]="password" placeholder="{{config.i18n.login.password}}" name="passwordText" required [disabled]="requestPending"></ion-input>
				<div item-content>
					<a *ngIf="password?.length" (click)="passwordVisible = !passwordVisible">{{config.i18n.login.seePassword}}</a>
					<span class="spacer"></span>
					<a (click)="passwordForgotten = true">{{config.i18n.login.passwordForgotten.text}}</a>
				</div>
			</ion-item>

			<div class="spacer">
				<a color="primary" block text-center href="{{config.becomeCustomerUrl}}" target="_blank">{{config.i18n.login.register}}</a>
			</div>

			<button ion-button type="submit" color="primary" block text-center
				[outline]="!loginForm.form.valid || requestPending"
				[disabled]="!loginForm.form.valid || requestPending"
			>
				{{config.i18n.button.login}}
				<ion-spinner item-right *ngIf="requestPending"></ion-spinner>
			</button>

			<a color="primary" block text-center *ngIf="hasSkipButton" (click)="dismiss()">{{config.i18n.login.skip}}</a>

		</form>
	</ion-list>

	<!-- password forgotten -->
	<ion-list *ngIf="passwordForgotten">
		<form (ngSubmit)="onSendPassword()" #passwordForgottenForm="ngForm">

			<div class="intro" text-center [innerHtml]="config.i18n.login.passwordForgotten.intro"></div>

			<ion-item>
				<ion-icon name="plc" class="plc-icon-login" item-start></ion-icon>
				<ion-input type="email" [(ngModel)]="passwordForgottenIdentifier" placeholder="{{config.i18n.login.passwordForgotten.identifier}}" name="passwordForgottenIdentifier" required [disabled]="requestPending"></ion-input>
			</ion-item>

			<div class="hint" text-center [innerHtml]="config.i18n.login.passwordForgotten.hint"></div>

			<div class="spacer"></div>

			<button ion-button type="submit" color="primary" block text-center
				[outline]="!passwordForgottenForm.form.valid || requestPending"
				[disabled]="!passwordForgottenForm.form.valid || requestPending"
			>
				{{config.i18n.login.passwordForgotten.send}}
				<ion-spinner item-right *ngIf="requestPending"></ion-spinner>
			</button>

		</form>
	</ion-list>

</ion-content>
