page-login {
	.scroll-content {
		padding: 10px;
	}

	header {
		$height: 45px;

		padding: 18px 0 28px;
		text-align: center;
		font-size: 0;

		img {
			height: $height;
		}

		.back {
			position: absolute;
			left: 0;
			width: $height;

			i {
				line-height: $height;
				font-size: 25px;
				color: $text-color;
			}
		}
	}

	@extend %login-page-layout-base;
}

%login-page-layout-base {
	// order
	.scroll-content {
		display: flex;
		flex-direction: column;
	}
	ion-list.list,
	form {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		margin: 0;

		> :not(.spacer) {
			flex-shrink: 0;
		}
		> .spacer {
			flex-grow: 1;
			min-height: $plc-spacing-big;
		}
	}
	ion-item.item {
		background-color: transparent;
	}

	// items
	ion-item.item {
		padding-left: 0;
	}
	ion-icon.icon {
		margin: 0 !important;
		width: 50px;
		line-height: 44px;
		font-size: 20px;
		text-align: center;
		color: color($colors, primary);
	}

	button {
		margin: 0 !important;

		ion-spinner {
			position: absolute;
			right: $plc-spacing-small;
		}
	}
	a[block] {
		$height: 40px;

		line-height: $height;

		@include self-prepend('.spacer ') {
			margin-top: (20px - (($height - ($font-size-base * $plc-line-height-base)) / 2));
		}
	}

	.intro,
	.hint {
		padding: 0 $plc-spacing-small $plc-spacing-small;
		font-size: $plc-font-size-middle;
		font-family: plc-ultralight;
	}
	.hint {
		padding-top: $plc-spacing-big;
		padding-bottom: 0;
	}
}