<ion-header>
	<ion-navbar>
		<ion-title>{{title}}</ion-title>
	</ion-navbar>
	<ion-searchbar [showCancelButton]="true" (ionInput)="onSearch($event.target.value)" placeholder="{{searchPlaceholder}}"></ion-searchbar>
</ion-header>

<ion-content>
	<!-- necessary cause the list loads late on slow devices -->
	<ion-spinner *ngIf="!filteredOptions" floating></ion-spinner>

	<ion-list *ngIf="filteredOptions?.length" [virtualScroll]="filteredOptions" [(ngModel)]="selectedOption" (ionChange)="onSelect()" radio-group>
		<ion-item *virtualItem="let option">
			<ion-label>{{option[optionLabelProperty]}}</ion-label>
			<ion-radio [value]="option" [checked]="isSelected(option)"></ion-radio>
		</ion-item>
	</ion-list>
	<strong no-items *ngIf="filteredOptions?.length">{{config.i18n.error.noSearchResults}}</strong>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-buttons text-center>
			<button ion-button (click)="viewCtrl.dismiss()">{{cancelButtonText}}</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>