// reset margin and padding
ion-navbar.toolbar,
ion-navbar.toolbar ion-buttons,
ion-navbar.toolbar button {
	margin: 0;
	padding: 0;
}

ion-header {
	.toolbar-background {
		border-width: 0 !important;
	}
}

ion-navbar.toolbar ion-title {
	padding-top: 0;
	padding-bottom: 0;

	.toolbar-title {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: visible;

		> i {
			flex-shrink: 0;
			vertical-align: sub;
			margin-right: $plc-spacing-small;
		}

		> div,
		> div > p {
			overflow: hidden;
			font-family: plc-ultralight;
			text-overflow: ellipsis;
			white-space: nowrap;
			line-height: 1.1;
		}

		> div {
			&.has-subTitle {
				position: relative;
				top: 5px;
			}

			> p {
				padding: 3px 0 0 2px;
				font-family: plc-medium;
				font-size: $plc-font-size-small;
			}
		}
	}
}

ion-navbar.toolbar {
	$size: 50px;

	position: relative;
	z-index: 2;

	&.statusbar-padding {
		padding-top: $plc-statusbar-height;

		ion-title {
			top: $plc-statusbar-height;
			height: calc(100% - #{$plc-statusbar-height});
		}
	}

	@include self-prepend('cwx-header:not([extended]) ') {
		box-shadow: 0 3px 10px rgba(black, 0.05);
	}

	button {
		width: $size;
		height: $size;
		color: color($colors, secondary);

		i.plc-icon-credit-card {
			font-size: 22px;
		}
		&.back-button ion-icon:before {
			content: $plc-icon-arrow-left;
			@include plc-icon(29px);
		}
	}
}

// segment / tabs
cwx-header + .toolbar {
	position: relative;
	z-index: 1;
	box-shadow: 0 3px 10px rgba(black, 0.05);

	padding: 0;
	min-height: 0;
	background-color: color($colors, light);

	.toolbar-background {
		display: none;
	}

	.segment {
		position: relative;

		.segment-button {
			display: flex;
			justify-content: center;
			padding: 0 5px 0 6px; // 1px addition to the left for separator

			// reset
			width: auto;
			max-width: none;
			height: auto;
			font-size: $font-size-base;
			color: $text-color;

			// active state
			border: $plc-segment-border-size-active solid transparent;
			border-width: $plc-segment-border-size-active 0;
			line-height: $plc-segment-height;
			&.segment-activated {
				border-bottom-color: color($colors, primary);
			}

			// separator
			position: relative;
			&:before {
				$height: 20px;

				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -($height / 2);
				height: $height;
				border-left: 1px solid color($colors, offerDark);
			}
			&:first-child {
				padding-left: 0;

				&:before {
					display: none;
				}
			}

			> span {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.badge {
			flex-shrink: 0;
			padding: 7px 0 0 1px;
			background-color: transparent;

			@include self-prepend('.segment-activated ') {
				color: color($colors, primary);
			}
		}
	}
}
