ion-menu {
	$buttonHeight: 40px;

	.scroll-content {
		display: flex;
		flex-direction: column;

		> * {
			flex-shrink: 0;
		}

		> img {
			margin: 35px auto $plc-spacing-middle;
			height: 30px;
		}

		.menu-bottom {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			> :last-child {
				margin-bottom: $buttonHeight;
			}
		}
	}

	.login-info {
		margin: 0 0 12px ($plc-spacing-middle + $buttonHeight); // spacing from viewport to button + icon width

		h3 {
			margin: 0;
			font-family: plc-ultralight;
		}

		.name {
			font-family: plc-light;
		}
	}

	// no background colors
	.content-ios,
	.item-block {
		background-color: transparent;
	}

	// size for buttons
	button.item-block {
		margin-bottom: $plc-spacing-micro;
		padding-left: $plc-spacing-middle;
		min-height: 0;

		.label-ios {
			margin: 0;
			line-height: $buttonHeight;
			font-family: plc-ultralight;
			font-size: $plc-font-size-h2;

			@include parent-append('[disabled]') {
				color: color($colors, grayColored);

				i {
					color: color($colors, grayColored);
				}
			}
		}
	}

	// icon
	ion-label {
		position: relative;
		padding-left: $buttonHeight;
	}
	i {
		$size: 20px;

		position: absolute;
		left: 0;
		width: $buttonHeight;
		padding-top: (($buttonHeight - $size) / 2);
		text-align: center;
		font-size: $size;
		line-height: 1;
		color: color($colors, primary);

		img {
			height: $size;
		}
	}
}

ion-nav {
	box-shadow: 0 3px 16px rgba(black, 0.10);
}