<ion-header>
	<cwx-header page-short-name="home"></cwx-header>
</ion-header>

<ion-content>
	<section>
		<p>This is the APPs homepage.</p>
		<p>Place static content here.</p>
	</section>
	<section>
		<p>Here goes the dynamic content.</p>
		<p *ngIf="!config.loadingMainData">Main data is now loaded and can be used</p>
		<ion-spinner *ngIf="config.loadingMainData"></ion-spinner>
		<div class="hint" *ngIf="config.loadingMainData">{{config.i18n.home.loadingMainData}}</div>
	</section>
</ion-content>
