<ion-header>
	<cwx-header page-short-name="settings" icon="slider"></cwx-header>
</ion-header>

<ion-content padding color="partner">

	<!-- language -->
	<ion-list no-lines>
		<ion-item>
			<ion-icon name="plc" class="plc-icon-language" item-start></ion-icon>
			<ion-label>{{config.i18n.settings.language}}</ion-label>
			<ion-select required (ionChange)="config.changeLanguage($event)" interface="popover" cancelText="{{config.i18n.button.cancel}}" okText="{{config.i18n.button.ok}}">
				<ion-option *ngFor="let lng of this.config.availableLanguages" [value]="lng.code" [selected]="lng.name == config.i18n.constructor['languageLabel']">{{lng.name}}</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>

	<!-- DEV-user -->
	<ion-list *ngIf="config.user && config.userIsDev" no-lines>
		<ion-item>
			<ion-label>{{config.i18n.settings.devMode}}</ion-label>
			<ion-toggle [(ngModel)]="config.devMode"></ion-toggle>
		</ion-item>
		<ion-item *ngIf="config.userIsDev">
			<ion-label>{{config.i18n.update.devChannel}}</ion-label>
			<ion-toggle [(ngModel)]="config.devUpdates"></ion-toggle>
		</ion-item>
		<button ion-item (click)="checkForUpdates()" *ngIf="version">
			{{config.i18n.update.check}}
			<ion-spinner item-end *ngIf="checkingForUpdates"></ion-spinner>
		</button>
	</ion-list>

	<!-- version -->
	<div class="spacer">
		<p class="version">{{config.i18n.update.version}}: {{version || 'not available'}}</p>
		<p class="creators">
			made with <i class="plc-icon-heart-fill"></i> in Switzerland <img src="assets/img/swissFlag.svg" /><br>
			apNet AG | CodeWorX GmbH | stefan.schlatter.design
		</p>
	</div>

</ion-content>
