page-settings {
	ion-list.list {
		margin: 0 0 $plc-spacing-middle;
	}
	.item + .item {
		margin-top: $plc-spacing-micro;
	}

	ion-icon {
		color: color($colors, primary);
	}

	// spacer / footer
	.scroll-content {
		display: flex;
		flex-direction: column;

		> * {
			flex-shrink: 0;
		}

		> .spacer {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}

	.version,
	.creators {
		margin: 0;
		text-align: center;
		font-size: $plc-font-size-small;
		color: color($colors, grayColored);

		// images
		$imageSize: ($plc-font-size-small * 0.8);
		i {
			font-size: $imageSize;
			color: #C80B0A;
		}
		img {
			height: $imageSize;
		}
	}
	.creators {
		margin-top: $plc-spacing-small;
		line-height: 1.5;
	}
}
