// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
	primary: #00BB31,
	secondary: #605f5b, // formField:valid
	light: #fff,
	gray: #F6F6F5,
	dark: #605f5b,

	// not yet modified
	danger: #F53D3D, // formField:invalid
	favorite: #69BB7B,

	// custom
	offer: #F2E7DC,
	offerDark: #E1C8AC,
	partner: #F6F6F5,
	code: #605f5b,
	filter: #F49F00,
	graySemiLight: #BEBAB5,
	grayLight: #E9E8E6,
	grayColored: #928C84,
	primaryLight: #7CCC6C
);



// Custom Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// add, remove or customize the ones below (they are part of the app template and are not prepared - just left as they were from the project this template is based on)

$plc-border-color: #dedede;
$plc-statusbar-height: 20px;

$plc-segment-border-size-active: 2px;
$plc-segment-height: (40px - (2 * $plc-segment-border-size-active)); // inner-height (without borders)

$plc-content-width-max: 300px;
$plc-spacing-micro: 2px;
$plc-spacing-small: 10px;
$plc-spacing-middle: 20px;
$plc-spacing-big: 30px;
$plc-square-size-small: 70px;
$plc-square-size-quarter: (($plc-content-width-max - (3 * $plc-spacing-micro)) / 4);

$plc-content-padding-horizontal-small: $plc-spacing-small;
$plc-content-padding-horizontal-big: $plc-spacing-middle;

$plc-fab-size: 50px;
$plc-fab-margin: ($plc-spacing-small / 2);
$plc-fab-placeholder-for-content: ($plc-fab-size + (2 * $plc-spacing-middle)); // prevent the FAB at the bottom from hiding the last list item

$plc-line-height-base: 1.375; // browser default because ionic does not set it

$font-size-base: 16px; // IONIC variable (no "plc" prefix)
$plc-font-size-micro: 11px;
$plc-font-size-small: 12px;
$plc-font-size-middle: 14px;
$plc-font-size-normal: $font-size-base;
$plc-font-size-h2: $font-size-base;
$plc-font-size-h3: $font-size-base;
$plc-font-size-title-big: 20px;

$plc-icon-size: 20px;
$plc-icon-size-middle: 30px;

$plc-breakpoint-small: 374px; // 375px is iPhone 6 and everything below is "small"



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$font-size-base: $font-size-base; // defined above, in "Custom Variables"

$text-color: color($colors, dark);
$background-color: color($colors, light);
$toolbar-background: $background-color;
$list-ios-header-background-color: $background-color;
$menu-ios-background: transparent;
$button-ios-border-radius: 0;
$item-ios-body-text-font-size: $font-size-base;

// header height
$toolbar-ios-height: 50px;
$content-margin: $toolbar-ios-height;
$toolbar-ios-title-font-size: $font-size-base;
$toolbar-ios-title-font-weight: normal;
$toolbar-ios-title-text-color: $text-color;

// segment
$segment-button-ios-background-color: transparent;
$segment-button-ios-background-color-activated: transparent;
$segment-button-ios-border-radius: 0;
$segment-button-ios-border-width: 0;
$segment-button-ios-text-color: $text-color;
$segment-text-color: $text-color;
$segment-button-ios-font-size: $font-size-base;

// badge
$badge-font-size: $plc-font-size-micro;
$badge-ios-background-color: transparent;
$badge-ios-text-color: color($colors, primary);
$badge-ios-border-radius: 0;

// toast
$toast-ios-background: color($colors, primary);
$toast-ios-border-radius: 0;
$toast-ios-title-font-size: $font-size-base;



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";



// Custom Variables depending on IONIC ones
// --------------------------------------------------



// Fonts
// --------------------------------------------------

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";

$font-path: $ionicons-font-path;
@import "../assets/fonts/firasans-webfont";
@import "../assets/fonts/icons/style";



// Custom Theme
// --------------------------------------------------

@import "mixins/string";
@import "mixins/math";
@import "mixins/json";
@import "mixins/traversing";
@import "mixins/general";

@import "app-template";
