// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


body ion-app[class] { // the [class] is more greedy then the ".md" of ionic
	@include vertical-gradient(white, color($colors, gray));
	font-family: plc-light;
	line-height: $plc-line-height-base;
	color: $text-color;
}

[hidden] {
	display: none !important;
}
[invisible]:not([invisible="false"]) {
	opacity: 0 !important;
}

[block] {
	display: block;
}

ion-app {
	transition: height 200ms;
}

ion-content {
	// no scrolling
	&.no-scrolling .scroll-content {
		overflow: hidden;
	}

	// types / background colors
	&[color="offer"] {
		background-color: color($colors, offer);
	}
	&[color="partner"] {
		background-color: color($colors, partner);
	}
}

.toolbar-title p {
	margin: 0;
	font-size: $font-size-base;
	line-height: $plc-line-height-base;
}

ion-spinner.spinner {
	circle {
		stroke: color($colors, primary);
	}

	&[floating] {
		position: absolute;
		z-index: 999;
		top: 50%;
		left: 50%;
		margin: -14px 0 0 -14px;
	}
}



// Maps
// ---------------------------------------------------------------------------------------------------------------------

// fix for ionic issue with the google maps plugin: https://github.com/driftyco/ionic/issues/7205
ion-app._gmaps_cdv_ .nav-decor {
	background-color: transparent !important;
}



// debug info for native app without other debugging possibilities)
// ---------------------------------------------------------------------------------------------------------------------

.debug-info {
	position: fixed;
	z-index: 99999;
	bottom: 0;
	right: 0;
	color: red;
	text-align: right;
	max-width: 50vw;
	max-height: 50vh;
	overflow: auto;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	font-family: 'Courier New', Courier, monospace;
	font-size: 11px;

	hr {
		border: 0;
		height: 1px;
		background: red;
		margin: 5px 0;
		padding: 0;
	}
}
