<div class="debug-info" *ngIf="helpers.debugInfo" [innerHTML]="helpers.debugInfo"></div>

<ion-menu type="pushScale" [content]="content">
	<ion-content>
		<img src="assets/img/logo.svg" />

		<!-- top menu -->
		<ion-list>
			<button menuClose ion-item detail-none no-lines
				*ngFor="let page of pages.sideMenu"
				(click)="nav.setRoot(page.component)"
			>
				<i class="plc-icon-{{page.icon}}" *ngIf="page.icon"></i>
				{{config.i18n[page.shortName].menuTitle || config.i18n[page.shortName].title}}
			</button>
		</ion-list>

		<!-- bottom menu -->
		<div class="menu-bottom">
			<div class="login-info" *ngIf="config.user">
				<h3>{{config.i18n.login.loggedInNameTitle}}</h3>
				<span class="name">{{config.user.firstName}} {{config.user.name}}</span>
			</div>
			<ion-list>
				<button menuClose ion-item detail-none no-lines *ngIf="!config.user" (click)="nav.push(config.pages.login, {skipDisabled: true})">
					<i class="plc-icon-login"></i>
					{{config.i18n.login.title}}
				</button>
				<button menuClose ion-item detail-none no-lines *ngIf="config.user" (click)="logout()">
					<i class="plc-icon-login"></i>
					{{config.i18n.login.logout}}
				</button>
				<button menuClose ion-item detail-none no-lines (click)="nav.setRoot(config.pages.settings)">
					<i class="plc-icon-slider"></i>
					{{config.i18n.settings.title}}
				</button>
			</ion-list>
		</div>
	</ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content></ion-nav>