@import "variables";

@font-face {
  font-family: 'pluscash-icons';
  src:
    url('#{$icomoon-font-path}/pluscash-icons.ttf?c2dbu3') format('truetype'),
    url('#{$icomoon-font-path}/pluscash-icons.woff?c2dbu3') format('woff'),
    url('#{$icomoon-font-path}/pluscash-icons.svg?c2dbu3#pluscash-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

%plc-icon-base {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pluscash-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin plc-icon ($size: $plc-icon-size) {
	@extend %plc-icon-base;
	line-height: $size;
	font-size: $size;
}

[class*="plc-icon-"],
[class*="plc-icon-"]:before {
	@extend %plc-icon-base;
}
[class*="plc-icon-"] {
	font-size: $plc-icon-size;
}
[class*="plc-icon-"]:before {
	font-size: inherit;
}

.plc-icon-expand {
  &:before {
    content: $plc-icon-expand;
  }
}
.plc-icon-collapse {
  &:before {
    content: $plc-icon-collapse;
  }
}
.plc-icon-slip {
  &:before {
    content: $plc-icon-slip;
  }
}
.plc-icon-bra {
  &:before {
    content: $plc-icon-bra;
  }
}
.plc-icon-happy {
  &:before {
    content: $plc-icon-happy;
  }
}
.plc-icon-sad {
  &:before {
    content: $plc-icon-sad;
  }
}
.plc-icon-joyful {
  &:before {
    content: $plc-icon-joyful;
  }
}
.plc-icon-concerned {
  &:before {
    content: $plc-icon-concerned;
  }
}
.plc-icon-pin-code {
  &:before {
    content: $plc-icon-pin-code;
  }
}
.plc-icon-password-manager {
  &:before {
    content: $plc-icon-password-manager;
  }
}
.plc-icon-touch-id {
  &:before {
    content: $plc-icon-touch-id;
  }
}
.plc-icon-lock {
  &:before {
    content: $plc-icon-lock;
  }
}
.plc-icon-unlock {
  &:before {
    content: $plc-icon-unlock;
  }
}
.plc-icon-language {
  &:before {
    content: $plc-icon-language;
  }
}
.plc-icon-filter {
  &:before {
    content: $plc-icon-filter;
  }
}
.plc-icon-filter-fill {
  &:before {
    content: $plc-icon-filter-fill;
  }
}
.plc-icon-online-tag {
  &:before {
    content: $plc-icon-online-tag;
  }
}
.plc-icon-desktop {
  &:before {
    content: $plc-icon-desktop;
  }
}
.plc-icon-alert {
  &:before {
    content: $plc-icon-alert;
  }
}
.plc-icon-repeat {
  &:before {
    content: $plc-icon-repeat;
  }
}
.plc-icon-arrow-down {
  &:before {
    content: $plc-icon-arrow-down;
  }
}
.plc-icon-arrow-left {
  &:before {
    content: $plc-icon-arrow-left;
  }
}
.plc-icon-arrow-right {
  &:before {
    content: $plc-icon-arrow-right;
  }
}
.plc-icon-arrow-up {
  &:before {
    content: $plc-icon-arrow-up;
  }
}
.plc-icon-x {
  &:before {
    content: $plc-icon-x;
  }
}
.plc-icon-plus {
  &:before {
    content: $plc-icon-plus;
  }
}
.plc-icon-check {
  &:before {
    content: $plc-icon-check;
  }
}
.plc-icon-bag {
  &:before {
    content: $plc-icon-bag;
  }
}
.plc-icon-bag-fill {
  &:before {
    content: $plc-icon-bag-fill;
  }
}
.plc-icon-bell {
  &:before {
    content: $plc-icon-bell;
  }
}
.plc-icon-bell-fill {
  &:before {
    content: $plc-icon-bell-fill;
  }
}
.plc-icon-book {
  &:before {
    content: $plc-icon-book;
  }
}
.plc-icon-cash-register {
  &:before {
    content: $plc-icon-cash-register;
  }
}
.plc-icon-credit-card {
  &:before {
    content: $plc-icon-credit-card;
  }
}
.plc-icon-copy {
  &:before {
    content: $plc-icon-copy;
  }
}
.plc-icon-category {
  &:before {
    content: $plc-icon-category;
  }
}
.plc-icon-category-fill {
  &:before {
    content: $plc-icon-category-fill;
  }
}
.plc-icon-movie-camera {
  &:before {
    content: $plc-icon-movie-camera;
  }
}
.plc-icon-inbox {
  &:before {
    content: $plc-icon-inbox;
  }
}
.plc-icon-calendar {
  &:before {
    content: $plc-icon-calendar;
  }
}
.plc-icon-clock {
  &:before {
    content: $plc-icon-clock;
  }
}
.plc-icon-stop-watch {
  &:before {
    content: $plc-icon-stop-watch;
  }
}
.plc-icon-disc {
  &:before {
    content: $plc-icon-disc;
  }
}
.plc-icon-external-link {
  &:before {
    content: $plc-icon-external-link;
  }
}
.plc-icon-external-link-fill {
  &:before {
    content: $plc-icon-external-link-fill;
  }
}
.plc-icon-eye {
  &:before {
    content: $plc-icon-eye;
  }
}
.plc-icon-eye-fill {
  &:before {
    content: $plc-icon-eye-fill;
  }
}
.plc-icon-flag-fill {
  &:before {
    content: $plc-icon-flag-fill;
  }
}
.plc-icon-flag {
  &:before {
    content: $plc-icon-flag;
  }
}
.plc-icon-facebook {
  &:before {
    content: $plc-icon-facebook;
  }
}
.plc-icon-google-plus {
  &:before {
    content: $plc-icon-google-plus;
  }
}
.plc-icon-twitter {
  &:before {
    content: $plc-icon-twitter;
  }
}
.plc-icon-pie-graph {
  &:before {
    content: $plc-icon-pie-graph;
  }
}
.plc-icon-graph {
  &:before {
    content: $plc-icon-graph;
  }
}
.plc-icon-graph2 {
  &:before {
    content: $plc-icon-graph2;
  }
}
.plc-icon-graph3 {
  &:before {
    content: $plc-icon-graph3;
  }
}
.plc-icon-add-person {
  &:before {
    content: $plc-icon-add-person;
  }
}
.plc-icon-group {
  &:before {
    content: $plc-icon-group;
  }
}
.plc-icon-group-fill {
  &:before {
    content: $plc-icon-group-fill;
  }
}
.plc-icon-partner {
  &:before {
    content: $plc-icon-partner;
  }
}
.plc-icon-partner-fill {
  &:before {
    content: $plc-icon-partner-fill;
  }
}
.plc-icon-login {
  &:before {
    content: $plc-icon-login;
  }
}
.plc-icon-login-fill {
  &:before {
    content: $plc-icon-login-fill;
  }
}
.plc-icon-business-card {
  &:before {
    content: $plc-icon-business-card;
  }
}
.plc-icon-grid {
  &:before {
    content: $plc-icon-grid;
  }
}
.plc-icon-partner-list {
  &:before {
    content: $plc-icon-partner-list;
  }
}
.plc-icon-heart {
  &:before {
    content: $plc-icon-heart;
  }
}
.plc-icon-heart-fill {
  &:before {
    content: $plc-icon-heart-fill;
  }
}
.plc-icon-home {
  &:before {
    content: $plc-icon-home;
  }
}
.plc-icon-home-fill {
  &:before {
    content: $plc-icon-home-fill;
  }
}
.plc-icon-info {
  &:before {
    content: $plc-icon-info;
  }
}
.plc-icon-listitem-blank {
  &:before {
    content: $plc-icon-listitem-blank;
  }
}
.plc-icon-listitem-add {
  &:before {
    content: $plc-icon-listitem-add;
  }
}
.plc-icon-listitem-remove {
  &:before {
    content: $plc-icon-listitem-remove;
  }
}
.plc-icon-listitem-select {
  &:before {
    content: $plc-icon-listitem-select;
  }
}
.plc-icon-mail {
  &:before {
    content: $plc-icon-mail;
  }
}
.plc-icon-mail-fill {
  &:before {
    content: $plc-icon-mail-fill;
  }
}
.plc-icon-mail-send {
  &:before {
    content: $plc-icon-mail-send;
  }
}
.plc-icon-list {
  &:before {
    content: $plc-icon-list;
  }
}
.plc-icon-all {
  &:before {
    content: $plc-icon-all;
  }
}
.plc-icon-mylocation {
  &:before {
    content: $plc-icon-mylocation;
  }
}
.plc-icon-mylocation-fill {
  &:before {
    content: $plc-icon-mylocation-fill;
  }
}
.plc-icon-map-selection {
  &:before {
    content: $plc-icon-map-selection;
  }
}
.plc-icon-map {
  &:before {
    content: $plc-icon-map;
  }
}
.plc-icon-map-fill {
  &:before {
    content: $plc-icon-map-fill;
  }
}
.plc-icon-map2 {
  &:before {
    content: $plc-icon-map2;
  }
}
.plc-icon-map2-fill {
  &:before {
    content: $plc-icon-map2-fill;
  }
}
.plc-icon-menu-fill {
  &:before {
    content: $plc-icon-menu-fill;
  }
}
.plc-icon-menu {
  &:before {
    content: $plc-icon-menu;
  }
}
.plc-icon-road-sign {
  &:before {
    content: $plc-icon-road-sign;
  }
}
.plc-icon-nav-fill {
  &:before {
    content: $plc-icon-nav-fill;
  }
}
.plc-icon-nav {
  &:before {
    content: $plc-icon-nav;
  }
}
.plc-icon-news {
  &:before {
    content: $plc-icon-news;
  }
}
.plc-icon-paper-document-image {
  &:before {
    content: $plc-icon-paper-document-image;
  }
}
.plc-icon-pen {
  &:before {
    content: $plc-icon-pen;
  }
}
.plc-icon-pen2 {
  &:before {
    content: $plc-icon-pen2;
  }
}
.plc-icon-quotes {
  &:before {
    content: $plc-icon-quotes;
  }
}
.plc-icon-race-flag-fill {
  &:before {
    content: $plc-icon-race-flag-fill;
  }
}
.plc-icon-search {
  &:before {
    content: $plc-icon-search;
  }
}
.plc-icon-search-fill {
  &:before {
    content: $plc-icon-search-fill;
  }
}
.plc-icon-search2-fill {
  &:before {
    content: $plc-icon-search2-fill;
  }
}
.plc-icon-settings-wheel {
  &:before {
    content: $plc-icon-settings-wheel;
  }
}
.plc-icon-settings-wheel-fill {
  &:before {
    content: $plc-icon-settings-wheel-fill;
  }
}
.plc-icon-share {
  &:before {
    content: $plc-icon-share;
  }
}
.plc-icon-share-fill {
  &:before {
    content: $plc-icon-share-fill;
  }
}
.plc-icon-share2 {
  &:before {
    content: $plc-icon-share2;
  }
}
.plc-icon-shopping-cart {
  &:before {
    content: $plc-icon-shopping-cart;
  }
}
.plc-icon-slider {
  &:before {
    content: $plc-icon-slider;
  }
}
.plc-icon-speedmeter {
  &:before {
    content: $plc-icon-speedmeter;
  }
}
.plc-icon-star {
  &:before {
    content: $plc-icon-star;
  }
}
.plc-icon-star-fill {
  &:before {
    content: $plc-icon-star-fill;
  }
}
.plc-icon-trash {
  &:before {
    content: $plc-icon-trash;
  }
}
.plc-icon-tag {
  &:before {
    content: $plc-icon-tag;
  }
}
.plc-icon-tag-fill {
  &:before {
    content: $plc-icon-tag-fill;
  }
}
.plc-icon-traffic-light-red {
  &:before {
    content: $plc-icon-traffic-light-red;
  }
}
.plc-icon-traffic-light-yellow {
  &:before {
    content: $plc-icon-traffic-light-yellow;
  }
}
.plc-icon-traffic-light-green {
  &:before {
    content: $plc-icon-traffic-light-green;
  }
}
.plc-icon-wrench-fill {
  &:before {
    content: $plc-icon-wrench-fill;
  }
}
.plc-icon-wrench {
  &:before {
    content: $plc-icon-wrench;
  }
}

