$icomoon-font-path: ($font-path + "/icons");

$plc-icon-expand: "\e900";
$plc-icon-collapse: "\e901";
$plc-icon-slip: "\e902";
$plc-icon-bra: "\e903";
$plc-icon-happy: "\e95d";
$plc-icon-sad: "\e95e";
$plc-icon-joyful: "\e95f";
$plc-icon-concerned: "\e960";
$plc-icon-pin-code: "\e961";
$plc-icon-password-manager: "\e962";
$plc-icon-touch-id: "\e963";
$plc-icon-lock: "\e964";
$plc-icon-unlock: "\e965";
$plc-icon-language: "\e968";
$plc-icon-filter: "\e966";
$plc-icon-filter-fill: "\e967";
$plc-icon-online-tag: "\e904";
$plc-icon-desktop: "\e969";
$plc-icon-alert: "\e905";
$plc-icon-repeat: "\e96a";
$plc-icon-arrow-down: "\e906";
$plc-icon-arrow-left: "\e907";
$plc-icon-arrow-right: "\e908";
$plc-icon-arrow-up: "\e909";
$plc-icon-x: "\e95c";
$plc-icon-plus: "\e944";
$plc-icon-check: "\e911";
$plc-icon-bag: "\e90a";
$plc-icon-bag-fill: "\e90b";
$plc-icon-bell: "\e90c";
$plc-icon-bell-fill: "\e90d";
$plc-icon-book: "\e90e";
$plc-icon-cash-register: "\e90f";
$plc-icon-credit-card: "\e914";
$plc-icon-copy: "\e913";
$plc-icon-category: "\e910";
$plc-icon-category-fill: "\e912";
$plc-icon-movie-camera: "\e93a";
$plc-icon-inbox: "\e928";
$plc-icon-calendar: "\e915";
$plc-icon-clock: "\e916";
$plc-icon-stop-watch: "\e952";
$plc-icon-disc: "\e917";
$plc-icon-external-link: "\e918";
$plc-icon-external-link-fill: "\e919";
$plc-icon-eye: "\e91a";
$plc-icon-eye-fill: "\e91b";
$plc-icon-flag-fill: "\e91c";
$plc-icon-flag: "\e91d";
$plc-icon-facebook: "\e91e";
$plc-icon-google-plus: "\e91f";
$plc-icon-twitter: "\e959";
$plc-icon-pie-graph: "\e943";
$plc-icon-graph: "\e920";
$plc-icon-graph2: "\e921";
$plc-icon-graph3: "\e922";
$plc-icon-add-person: "\e923";
$plc-icon-group: "\e924";
$plc-icon-group-fill: "\e925";
$plc-icon-partner: "\e940";
$plc-icon-partner-fill: "\e93f";
$plc-icon-login: "\e930";
$plc-icon-login-fill: "\e92f";
$plc-icon-business-card: "\e926";
$plc-icon-grid: "\e927";
$plc-icon-partner-list: "\e96b";
$plc-icon-heart: "\e929";
$plc-icon-heart-fill: "\e92a";
$plc-icon-home: "\e92b";
$plc-icon-home-fill: "\e92c";
$plc-icon-info: "\e92d";
$plc-icon-listitem-blank: "\e92e";
$plc-icon-listitem-add: "\e931";
$plc-icon-listitem-remove: "\e932";
$plc-icon-listitem-select: "\e933";
$plc-icon-mail: "\e934";
$plc-icon-mail-fill: "\e935";
$plc-icon-mail-send: "\e936";
$plc-icon-list: "\e937";
$plc-icon-all: "\e938";
$plc-icon-mylocation: "\e96d";
$plc-icon-mylocation-fill: "\e96c";
$plc-icon-map-selection: "\e96e";
$plc-icon-map: "\e939";
$plc-icon-map-fill: "\e93b";
$plc-icon-map2: "\e93c";
$plc-icon-map2-fill: "\e93d";
$plc-icon-menu-fill: "\e93e";
$plc-icon-menu: "\e941";
$plc-icon-road-sign: "\e96f";
$plc-icon-nav-fill: "\e942";
$plc-icon-nav: "\e945";
$plc-icon-news: "\e946";
$plc-icon-paper-document-image: "\e947";
$plc-icon-pen: "\e948";
$plc-icon-pen2: "\e949";
$plc-icon-quotes: "\e94a";
$plc-icon-race-flag-fill: "\e94b";
$plc-icon-search: "\e94c";
$plc-icon-search-fill: "\e94d";
$plc-icon-search2-fill: "\e970";
$plc-icon-settings-wheel: "\e94e";
$plc-icon-settings-wheel-fill: "\e94f";
$plc-icon-share: "\e950";
$plc-icon-share-fill: "\e951";
$plc-icon-share2: "\e971";
$plc-icon-shopping-cart: "\e953";
$plc-icon-slider: "\e954";
$plc-icon-speedmeter: "\e955";
$plc-icon-star: "\e956";
$plc-icon-star-fill: "\e957";
$plc-icon-trash: "\e958";
$plc-icon-tag: "\e95a";
$plc-icon-tag-fill: "\e95b";
$plc-icon-traffic-light-red: "\e972";
$plc-icon-traffic-light-yellow: "\e973";
$plc-icon-traffic-light-green: "\e974";
$plc-icon-wrench-fill: "\e975";
$plc-icon-wrench: "\e976";

